/* You can add global styles to this file, and also import other style files */
.spin {
  animation: spiny 1s infinite;
  transition: all 1s ease-in-out;
  vertical-align: middle; }

@keyframes spiny {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }

.fr {
  float: right; }

.fl {
  float: left; }

#map {
  width: 100%;
  height: 300px;
  margin: 40px auto; }

#more {
  display: block !important;
  text-align: center !important;
  width: 100%; }

.jumbotron {
  text-align: center; }

.block-btn {
  display: block !important;
  width: 100%;
  margin: 20px 0; }

.container {
  margin-bottom: 20px; }
