<div class="container">
  <h2>Post</h2>
    <form (ngSubmit)="postQuestion()">
      <div class="form-group">
        <label class="col-form-label">Question</label>
        <input class="form-control form-control-lg" type="text" [(ngModel)]="question" name="question" ng-model="question" placeholder="Please enter a question">
      </div>
      <button class="btn btn-primary">Post</button>
    </form>
</div>
<hr>
<div class="container" id="questions">
  <h2>Questions</h2>
    <div class="row" *ngFor="let question of questions">
      <div class="card card-block">
        <h4 class="card-title">{{ question.title }}</h4>
        <a href="#" class="card-link">View Answer</a>
        <a href="#" class="card-link">Answer</a>
      </div>
    </div>
  </div>