
      <div class="col-md-6 col-md-offset-3">
            <h1>Hi {{currentUser.firstName}}!</h1>
            <p>You're logged in!!</p>
            <h3>User Information:</h3>
                <ul>
                    <li *ngIf="currentUser.image">
                        <img src={{currentUser.image}}>
                    </li>
                    <li>
                        <p>Username:</p>{{currentUser.username}}</li>
                    <li>
                        <p>FirstName:</p>{{currentUser.firstName}}</li>
                    <li>
                        <p>LastName:</p>{{currentUser.lastName}}</li>
                    <li>
                        <p>Identity:</p>{{currentUser.identity}}</li>
                    <li>
                        <p>Major:</p>{{currentUser.major}}</li>
                    <li>
                        <p>user._id:</p>{{currentUser._id}}</li>
                    <li>
                        <p>token:</p>{{currentUser.token}}</li>
                    <li>
                        <p>Email:</p>{{currentUser.email}}</li>
                    <li>
                        <p>Created Date</p>{{currentUser.created_date}}</li>
                </ul>
                <!-- </div> -->
            <button [routerLink]="['/profile']" class="btn btn-primary" ng-click="test()">Edit Profile</button>
            <button [routerLink]="['/login']" class="btn btn-primary" ng-click="test()">Log out</button>
            <button [routerLink]="['/questions']" class="btn btn-primary" ng-click="test()">Questions</button>
            <button *ngIf="currentUser.identity == 'admin'" [routerLink]="['/admin']" class="btn btn-primary" ng-click="test()">Admin Page</button>
        </div>