
      <div class="container" style="border:solid; width:100%; margin:0;">
            <h1>Hi {{currentUser.firstName}}!</h1>
            <p>You're logged in!!</p>
            <h3>User Information:</h3>
                <ul class="card card-block">
                    <li *ngIf="currentUser.image">
                        <img src={{currentUser.image}}>
                    </li>
                    <li>
                        <p>Username: <b>{{currentUser.username}}</b></p></li>
                    <li>
                        <p>FirstName: <b>{{currentUser.firstName}}</b></p></li>
                    <li>
                        <p>LastName: <b>{{currentUser.lastName}}</b></p></li>
                    <li>
                        <p>Identity: <b>{{currentUser.identity}}</b></p></li>
                    <li>
                        <p>Major: <b>{{currentUser.major}}</b></p></li>
                    <!-- <li><p>user._id:</p>{{currentUser._id}}</li> -->
                    <!-- <li><p>token:</p>{{currentUser.token}}</li> -->
                    <li>
                        <p>Email: <b>{{currentUser.email}}</b></p></li>
                    <li>
                        <p>Created Date: <b>{{currentUser.created_date | date:'shortTime'}}</b></p></li>
                </ul>
                <!-- </div> -->
            <button [routerLink]="['/profile']" class="btn btn-primary" ng-click="test()">Edit Profile</button>
            <button [routerLink]="['/login']" class="btn btn-primary" ng-click="test()">Log out</button>
            <button [routerLink]="['/questions']" class="btn btn-primary" ng-click="test()">Questions</button>
            <button *ngIf="currentUser.identity == 'admin'" [routerLink]="['/admin']" class="btn btn-primary" ng-click="test()">Admin Page</button>
        </div>