<div class="container-fluid">
  <h3>{{currentUser.firstName}}'s Information:</h3>
  <hr>  
  <div class="media">
    <div class="col-sm-2" *ngIf="currentUser.image">
      <img src={{currentUser.image}} class="img-thumbnail" alt="Cinque Terre">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Username: {{currentUser.username}}</h4>
      <h4>FirstName: {{currentUser.firstName}}</h4>
      <h4>LastName: {{currentUser.lastName}}</h4>
      <h4>Identity: {{currentUser.identity}}</h4>
      <h4>Major: {{currentUser.major}} </h4>
      <h4>Email: <a href="mailto:currentUser.email"> {{currentUser.email}} </a></h4>
      <h4>Created Date: {{currentUser.created_date | date:'shortTime'}} </h4>
    </div>
  </div>
  <button [routerLink]="['/profile']" class="btn btn-primary" ng-click="test()">Edit profile</button>
  <button [routerLink]="['/login']" class="btn btn-primary" ng-click="test()">Log out</button>
  <!-- <button [routerLink]="['/questions']" class="btn btn-primary" ng-click="test()">Questions</button> -->
  <button *ngIf="currentUser.identity == 'admin'" [routerLink]="['/admin']" class="btn btn-primary" ng-click="test()">Admin page</button>
  <button *ngIf="currentUser.identity == 'admin'" [routerLink]="['/noticeEdit']" class="btn btn-primary" ng-click="test()">Edit Notice</button>
</div>
