<!-- main app container -->
<div>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation"></nav>

    <div class="container-fluid">
        <div class="col-sm-3">
            <categary></categary>
            <notice></notice>
        </div>
        <div class="col-sm-6">
            <div class="jumbotron">
                <div class="container">
                    <alert></alert>
                    <router-outlet></router-outlet>
                </div>
            </div>
            <hr>
        </div>

        <div class="col-sm-3">
            <question-search></question-search>
        </div>
    </div>
</div>