<!-- main app container -->
<div>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation"></nav>

    <div class="container-fluid">
        <div class="col-sm-3">
            <local-search></local-search>
            <notice *ngIf="currentUser"></notice>
            <login *ngIf="!currentUser"></login>
            <app-myquestions *ngIf="currentUser"></app-myquestions>
        </div>
        <div class="col-sm-9">
            <!-- <div class="jumbotron"> -->
                <!-- <div class="container"> -->
                    <alert></alert>
                    <router-outlet></router-outlet>
                <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
</div>
<hr>
<picture-wall></picture-wall>
<footer-test></footer-test>
