hr{
    width: 90%;
}
.radio{
    display: inline-block;
    width: 100px;
}
.radioLabel{
    padding: 0;
}

.categary{
    float: left;
    margin-right: 3px;
    border:solid;
}
.clear {
    clear: both;
}