<div *ngIf="currentUser" class="container">
    <h2>Post</h2>
      <form (ngSubmit)="postQuestion()">
        <div class="form-group">
          <label class="col-form-label">Question</label>
          <input class="form-control form-control-lg" type="text" [(ngModel)]="newQuestion" name="question" ng-model="newQuestion" placeholder="Please enter a question">
        </div>
        <div class="form-group">
          <label class="col-form-label">Category</label>
          <select [(ngModel)]="questionCategory" name="category" class="form-control form-control-lg selectpicker" placeholder="Please select a category">
              <option *ngFor="let category of categories">{{ category }}</option>
          </select>
        </div>
        <button class="btn btn-primary">Post</button>
        <button [routerLink]="['/home']" class="btn btn-primary" ng-click="test()">Cancel to home</button>
      </form>
  </div>
  <hr *ngIf="currentUser">
  
  <div class="container" id="questions">
    <h2>Questions</h2>
    <form *ngIf="currentUser">
      Pick a topic:
      <div>
      <input type="radio" [(ngModel)]="selectedCategory" name="selectedCategory" (click)='getQuestionByCategory("All")' [value]=null>All
      </div>
      <div *ngFor="let category of categories">
      <input type="radio" [(ngModel)]="selectedCategory" name="selectedCategory" (click)="getQuestionByCategory(category)" value={{category}}>{{category}}
      </div>
    </form>
      <div class="row" *ngFor="let question of questions">
        <div class="card card-block">
          <h4 class="card-title">{{ question.title }}</h4>
          <p><small>created on {{ question.created_date | date:'short'}}</small></p>
          <a [routerLink]="['/questions', question._id]" class="card-link">View Answers</a>
        </div>
      </div>
  </div>