hr{
    width: 100%;
    // border-color: black;
}
.radio{
    display: inline-block;
    width: 100px;
}
.radioLabel{
    padding: 0;
}
.radioBar{
    margin: 10px;
}

.categary{
    float: left;
    margin-right: 3px;
    border:solid;
}
.clear {
    clear: both;
}
.ques{
    margin: 10px;
}
.ques:hover{
    border-radius: 5px;
    background-color: hsla(0, 0, 0, 0.1);
    font-size: 110%;
}